@import "tailwindcss";

@layer base {
  body {
    @apply antialiased selection:bg-blue-500 selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom Clean Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
  }
}

/* Print Optimization */
@media print {
  aside,
  header,
  footer,
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
    max-width: 100% !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}
